body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(45deg, rgb(13, 96, 119), rgb(75, 36, 218));
    font-family: Arial, sans-seriff;
}

.card{
    background-color: white;
    padding: 1rem 2.5rem;

    border-radius: 1rem;
    box-shadow: 0px 10px 30px rgba(0 ,0, 0, 0.15);
}

.top{
    margin-bottom: 1rem;
    font-weight: 700;
    color: blue;
}

h1{
    border-radius: 2px solid black;
}

h1::after{
    content: "";
    display: block;

    width: 180px;
    height: 3px;
    background: linear-gradient(45deg, rgb(13, 96, 119), rgb(75, 36, 218));
    margin: 0 auto;
}

.password-box{
    margin-bottom: 2rem;
    border-radius: 4px;
    height: 40px;

    display: flex;
}

#password{
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    background: linear-gradient(45deg, rgb(13, 96, 119), rgb(75, 36, 218));
}

#copybtn {
    height: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    font-size: 2rem;
    color: white;
    background: transparent;
}

#copybtn:active {
    transform: scale(0.95);
}

.conditions{
    margin-bottom: 1rem;
    background-color: rgb(240, 240, 240);
    padding: 4px;

    border-radius: 4px;
}

.options{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.btn{
    width: 100%;

    font-size: 1.5rem;
    padding: 8px 20px;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    color: white;
    background: linear-gradient(45deg, rgb(13, 96, 119), rgb(75, 36, 218));

    margin-bottom: 1rem;
}

.btn:hover{
    background: linear-gradient(45deg, rgb(8, 151, 190), rgb(68, 45, 151));
}

.btn:active{
    background: linear-gradient(45deg, rgb(10, 75, 86), rgb(57, 29, 160));
    transform: scale(0.95);
}